# Frozen requirements for SEIM
# READ ONLY
alabaster==1.0.0
amqp==5.3.1
asgiref==3.9.1
astroid==3.3.10
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
bandit==1.8.6
beautifulsoup4==4.13.4
billiard==4.2.1
celery==5.5.3
certifi==2025.7.9
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.9.2
cron-descriptor==1.4.5
cryptography==45.0.5
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
Django==5.2.4
django-allauth==65.10.0
django-cacheops==7.2
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-js-reverse==0.10.2
django-livereload==1.7
django-oauth-toolkit==3.0.1
django-redis==6.0.0
django-storages==1.14.6
django-stubs==5.2.1
django-stubs-ext==5.2.1
django-timezone-field==7.1
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
docutils==0.21.2
drf-spectacular==0.28.0
executing==2.2.0
factory_boy==3.3.3
Faker==37.4.0
filelock==3.18.0
flake8==7.3.0
flake8-bugbear==24.12.12
flake8-docstrings==1.7.0
flake8-quotes==3.4.0
flake8_import_order==0.19.2
funcy==2.0
gunicorn==23.0.0
identify==2.6.12
idna==3.10
imagesize==1.4.1
inflection==0.5.1
iniconfig==2.1.0
ipdb==0.13.13
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
kombu==5.5.4
line_profiler==4.2.0
mando==0.7.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
memory-profiler==0.61.0
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pbr==6.1.1
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.14.0
pycparser==2.22
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.9.0
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
pytest-html==4.1.1
pytest-json-report==1.5.0
pytest-metadata==3.1.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2025.2
PyYAML==6.0.2
radon==6.0.1
redis==6.2.0
referencing==0.36.2
requests==2.32.4
rich==14.0.0
roman-numerals-py==3.1.0
rpds-py==0.26.0
ruff==0.12.2
sentry-sdk==2.32.0
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.3
sphinx-autodoc-typehints==3.2.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stack-data==0.6.3
stevedore==5.4.1
tomlkit==0.13.3
traitlets==5.14.3
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
virtualenv==20.31.2
wcwidth==0.2.13
whitenoise==6.9.0
