{% extends "cms/base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <i class="bi bi-check-circle text-success" style="font-size: 4rem;"></i>
            <h1 class="mt-3">Thank You!</h1>
            
            {% if page.thank_you_text %}
            <div class="lead mb-4">
                {{ page.thank_you_text|richtext }}
            </div>
            {% else %}
            <p class="lead">Your form submission has been received.</p>
            {% endif %}
            
            <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</div>
{% endblock %}

